.main
{
    position:relative;
    top: 100px;
    left:44%;
}
h1{
    position: relative;
    top: 50px;
    left: 46%;
    font-size: 50px;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9
{
    display: grid;
    border: 3px solid red;
    height:100px;
    width:100px;
    float:left;
    font-size: 80px;
    text-align: center;
}
#p1,#p4,#p7{
    clear: left;
}
#p4,#p5,#p6{
    position: relative;
    top: -160px;
}
#p7,#p8,#p9{
    position: relative;
    top: -320px;
}
#p1,#p2,#p3{
    border-top: none;
}
#p1,#p4,#p7{
    border-left: none;
}
#p3,#p6,#p9{
    border-right: none;
}
#p7,#p8,#p9{
    border-bottom: none;
}